input,
label {
  width: 200px;
  height: 50px;
  margin: 30px;
  border-width: 0.1px;
  border-radius: 5px;
  border-color: rgb(29, 0, 190);
}

form {
  padding: 60px;
  background-color: lightblue;
  font-size: 24px;
  border-radius: 5px;
}

#title {
  color: rgb(13, 0, 85);
  font-size: 34px;
  font-family: monospace;
  font-weight: bold;
}

* {
  margin-left: auto;
  margin-right: auto;
}
.placeOrder {
  width: 150px;
  height: 50px;
  background-color: black;
  color: aliceblue;
  font-size: 24px;
}
